* {
    margin: 0;
    padding: 0;
}

html {
    width: 98.5vw;
}

body {
    width: 1440px;
    height: 1361px;
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
}

@media (max-width: 1439px) {
    body {
        width: 98.5vw;
        background-image: url(../images/Rectangle.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}